*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.grid1{
    background: lightpink;
}
.grid2{
    background :lightcoral;
}

main{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}