
main{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    background: linear-gradient(-45deg, #ec2F4B, #009FFF);
    background-size: 200% 200%;
    position: relative;
    animation: rgb 15s ease-in-out infinite; 
}
.text_align{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center
}

.sub_container{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 100vh
}

.github_grid_align{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center
}

.linkdin_grid_align{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center
}

.github_grid_align{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center
}
.button_margin{
    margin: 20px;
}

@keyframes rgb{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}